*
!/**/
!*.*
a2j/
abrt/
/accept-languages.codes
akonadi/
appimagelauncher.cfg
ardour8/
BambooTracker/
beekeeper-studio/
BL-Ghost/
Blockbench/
brainstream/
BraveSoftware/
Cadence/
cef_user_data/
cheat/
chromium/
copyq/
corectrl/
dconf/
DecentSampler/
/dleyna-renderer-service.conf
enchant/
environment.d/
eog/
epiphany/
evolution/
falkTX/
/'FamiTracker Qt.conf'
fltk.org/
fontconfig/
forge/
freac/
'FT2 clone'/
gambas3/
game-jolt-client/
gconf/
gedit/
GenuineSoundware/
gnome-control-center/
gnome-session/
/GNOME-xdg-terminals.list
goa-1.0/
Google/
google-chrome/
goverlay/
gpick/
gtk-2.0/
gtk-3.0/
gtk-4.0/
hakuneko-desktop/
home-manager/
ibus/
imsettings/
inkscape/
*.log
jack/
JetBrains/
JetBrains Space'/
KDE/
kdeconnect/
kdedefaults/
kde.org/
/kwebkitpart.categories
/kwinoutputconfig.json
libaccounts-glib/
libreoffice/
lsp-plugins/
menus/
microsoft-edge/
milkytracker/
/mimeapps.list
modorganizer2/
/monitors.xml
MusE/
MuseScore/
neothesia/
Nextcloud/
nixpkgs/
octave/
Olympus/
OpenRCT2/
open-stage-control/
org.gnome.Epiphany.WebApp_409f3527310237bb8ef3d43846549d5082e89ebe/
org.gnome.Epiphany.WebApp_b336fc558722224b7ffe98607055d55f0fe52450/
/pavucontrol.ini
Pitch/
plasma-workspace/
!PrismLauncherrc
processing/
procps/
pulse/
pupgui/
qt5ct/
qtchooser/
QtProject/
/QtProject.conf
README.md
rncbc.org/
RogueLegacy/
rpmlint/
session/
sidekick/
silicon/
/sni-qt.conf
sqlitebrowser/
SuperCollider/
syncthing/
systemd/
tonelib/
totem/
/Trolltech.conf
ui/
unity3d/
/user-dirs.conf
/user-dirs.defaults
/user-dirs.dirs
/user-dirs.locale
/VariSpeed.settings
vice/
vivaldi/
/wxMaxima.conf
/xdg-terminals.list
xm1/
xsettingsd/
Xwayland-session.d/
yelp/
