.gsd-keyboard.settings-ported
"BetterDiscord Installer/"
BetterDiscord/
"Bitwarden CLI/"
Deskreen/
"FT2 clone/"
"FamiTracker Qt.conf"
GIMP/
GitKraken/
Jackett/
"JetBrains Space/"
Logseq/
MangoHud/
Pilot/
Playscii/
PrismLauncherrc
albert.conf
albert/
autostart/
bat/
btop/
calibre/
cmus/
discord/
dosbox/
fish/conf.d/
fish/functions/
fish/themes/
gh/
gitui/
godot/
gtkrc-2.0
keepassxc/
kitty/current-theme.conf
kitty/kitty.conf.bak
kitty/themes/
lutris/
mpv/shaders/CfL_Prediction.glsl
mpv/shaders/SSimDownscaler.glsl
mpv/shaders/filmgrain.glsl
mpv/shaders/ravu-lite-ar-r4.hook
nicotine/
nvim/lua/user/lsp/settings/stylua.toml
nvim/lua/user/octo.lua
nvim/lua/user/pretty-fold.lua
nvim/lua/user/regs.lua
nvim/nvim-ts-autotag.lua
nvim/plugin/
obs-studio/
obsidian/
plasma-org.kde.plasma.desktop-appletsrc
qBittorrent/
qutebrowser/__pycache__/
retroarch/
scummvm/
setup.sh
spicetify/
spotify-tui/.spotify_token_cache.json
spotify-tui/client.yml
spotify-tui/mocha.yml
thefuck/__pycache__/
tmux/plugins/
twtwt/
vlc/
yabridgectl/
yazi/
